<!DOCTYPE html>
<html lang="en">
 <!-- Header -->
<%- include('partials/_head.ejs') -%>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation.ejs') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>SIMPLEARO</h1>
            <span class="subheading">Welcome to Our Blog</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="post-preview">
        <a href="https://github.com/aihsanbozaci/SIMPLEARO">
          <h2 class="post-title">
            Backend Project with Node.js
          </h2>
          <h3 class="post-subtitle">
            The backend of this website was coded by Ahmet İhsan Bozacı with Node.js
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="https://github.com/aihsanbozaci">Ahmet İhsan Bozacı</a>
          on October 2, 2022</p>
      </div>
      <hr>
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for (let i = posts.length -1 ; i > 0; i--){ %>
        <div class="post-preview">
          <a href="/post/<%= posts[i]._id %>">
            <h2 class="post-title">
              <%= posts[i].title %>
            </h2>
            <h3 class="post-subtitle">
              <%= posts[i].detail %>
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="https://github.com/aihsanbozaci">Author</a>
            <div style = "font-size:25px" id = "todaysdate"></div>
            <%= posts[i].dateCreated %>
         </p>
        </div>
        <%  } %>
       
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer.ejs') -%>
  <script src="https://momentjs.com/downloads/moment.js"></script>
</body>

</html>
